# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Logs and temp files
*.log
*.tmp
*.temp
*.pid
*.gz
*.bz2
*.sassc

# Bundler
.bundle/
vendor/

# Environment variables
.env
_config_secrets.yml

# IDEs and editors
.vscode/
.idea/

/pages/services/node_modules
pages/services/package-lock.json
pages/services/package.json
