body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for all normal links */
a {
    color: #ffa100;
    text-decoration: none;
}

a:visited {
    color: #ffa100;
}

a:hover {
    color: #fa4f16;
    text-decoration: underline;
}

/* HEADER */
header .title {
    display: flex;
    align-items: center;
}

header .title {
    display: flex;
    align-items: center;
}

.home-link a {
    color: #fff;
}

header .categories a {
    color: #fff;
    margin-right: 20px;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex: 1;
    background-image: url('/assets/images/background.jfif');
    background-color: #ffa100;
    background-size: cover; /* or 'contain' */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* optional */
}

nav {
    width: 250px;
    background-color: #1b1b1b;
    color: #fff;
    overflow-y: auto;
    flex-shrink: 0;
    margin: 0px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px;
    border-bottom: 1px solid gold;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li span {
    display: block;
    cursor: pointer;
    margin:5px;
}

nav ul li.active>ul {
    display: block;
}

nav ul li.active span::after {
    content: ' ▼';
}

nav ul li span::after {
    content: ' ▶';
}

nav ul li a:hover,
nav ul li a.active {
    color: #ffcc00;
}

nav ul li.active {
    background-color: #ffcc00;
    color: #000;
}

nav ul.nav-list>li.active {
    background-color: #ff6600;
}

main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

main h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

main .content-body {
    background-color: #f1f1f1;
    padding: 20px;
}

main .breadcrumb {
    margin-bottom: 10px;
}

main .code-block {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Roboto Mono', monospace;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

.language-selector {
    margin-bottom: 10px;
}

.code-container {
    margin-bottom: 20px;
}

.warning {
    background-color: #f8d7da;
    padding: 10px;
    border-left: 5px solid #f5c2c7;
}

.note {
    background-color: #d1ecf1;
    padding: 10px;
    border-left: 5px solid #bee5eb;
}

.toc {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc li {
    padding: 5px 10px;
}

.toc li a {
    color: #fff;
    text-decoration: none;
}

.toc li a:hover,
.toc li a.active {
    color: #ffcc00;
}

.toc li a.active {
    background-color: #ffcc00;
    color: #000;
}

/* Centered Images */
.centered-content {
    text-align: center;
    width: 100%;
    padding: 10px;
}

.centered-content p {
    display: block;
    margin: 10px auto;
    text-align: center;
    /* Ensures text is centered */
    flex-wrap: wrap;
    /* Ensures that the content wraps if necessary */
}

img {
    max-width: 100%;
    margin: 10px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.centered-content img {
    display: block;
    margin: 10px auto;
}

/* Carousel */
.carousel {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    padding: 10px;
    text-align: center;
    /* Ensures text is centered */
}

/* Center text inside carousel */

.carousel img {
    scroll-snap-align: center;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.carousel img.pop-out {
    transform: scale(1.5);
    z-index: 1000;
}