
# Managing 2FA for Firebase Auth
2FA can be tricky, there are many factors that can come into affecting your use case.
we will outline them in detail and common caveats