
# Firebase Email verification
Firebase auth is very limited, intentionally so. to reduce abuse, spam, and spoofing.
instead the firebase verification should be used for internal or dev purposes.
we highly suggest working with an email provider to send oob codes to users from an email with a dedicated domain with SSL encryption