
# Firebase SMS verification
SMS is a convenient but problematic.

its better to use FCM and use a crypto signed handshake with a public and private key if you want truly secure solution