
# Firebase SMS verification
SMS is a convenient but problematic.

## h2
### h3
#### h4
its better to use FCM and use a crypto signed handshake with a puyblic and private key if you want truly secure solution